@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:wght@300;400&family=Montserrat+Alternates&display=swap');

body{
    background-color: #131722;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}